
body
{
    font-family: lucida grande,tahoma,verdana,arial,sans-serif,algerian;
    background-color: wheat;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

header
{
clear: both;
width: auto;
height: 40px;
padding: 10px;
text-align: center;
color: black;
background-image: url(../Images/logo.jpg);
background-repeat: no-repeat;
background-size: contain;
font-size: 50px;
font-style: bold;
font-family: algerian;
border: 5px solid brown;
}

#content-area
{
float: left;
width: 880px;
height: 300px;
margin: 20px 20px 20px 20px;
padding: 10px;
text-align: center;
font-size: 24px;
}

#navigation
{
height: 100px;
border: 3px solid black;
margin-top: 400px;
text-align: center;
text-shadow: 0.1em 0.1em black;
background-color: black;
border: 5px solid antiquewhite;
}

#nav
{
    list-style: none;
}

#nav ul
{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 20px;
    float: left;
    position: initial;
    width: 100px;
    height: 40px;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color:white;
    text-decoration: none;
}

#nav a:hover
{
    color: lightblue;
}

#sidebar
{
    float: right;
    width: 250px;
    height: 300px;
    margin: 20px 10px;
    padding: 10px;
    border: 2px solid black;

}